services:
  api:
    build:
      context: ../
      dockerfile: infra/Dockerfile
    container_name: service-api
    command: ./infra/commands/api.sh
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ../:/app
    depends_on:
      - db
    networks:
      - micro-service-back-tier
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:8000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s

  db:
    image: postgres:17.5
    container_name: service-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - micro-service-back-tier
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s


volumes:
  postgres_data:

networks:
  micro-service-back-tier:
